description = "Light nav background, dark text, text gets lighter on top"

[staticMenu]
code = "main-menu"

[staticPage]
useContent = 0
default = 1

[gallery]

[genericForm]
rules[name] = "required"
rules[email] = "required|email"
rules[comments] = "required"
rules_messages[required] = "This field is required"
rules_messages[email] = "Enter valid e-mail address"
messages_success = "Your message was successfully send"
messages_errors = "An error occurred while sending message"
mail_enabled = 1
mail_subject = "Message from your contact form"
mail_recipients[] = "example@example.com"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<!DOCTYPE html>
<html lang="cs">

{% partial 'site/meta' %}

<body>

<div class="color-scheme-{{ this.theme.general_color_scheme }}">

    <!-- Header -->
    <header id="layout-header" class="light-dynamic">
        {% partial 'site/header' navbarStyle='navbar-light' %}
    </header>

    <!-- Content -->
    <section id="layout-content">
        <!-- Repeater -->
        {repeater name="sections" groups="~/themes/jagu-venus-oc-theme/meta/blocks.yaml" tab="Blocks"}
        {variable name="_dummy" type="text"}{/variable}
        {/repeater}
        <!-- Render blocks -->
        {% for section in sections %}
            {% partial 'blocks/' ~ section._group data=section %}
        {% endfor %}

        {% page %}

    </section>

    <!-- Footer -->
    <footer id="layout-footer">
        {% partial 'site/footer' %}
    </footer>

</div>

{% partial 'site/scripts' %}

</body>
</html>